﻿.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: white;
}

html {
    position: relative;
    min-height: 100%;
}

button {
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    width: 150px;
}

label {
    margin: 5px;
}

input {
    border-radius: 5px;
    margin: 5px;
}

.main_content {
    box-sizing: content-box;
    background-color: white;
}

.half-page {
    width: 50%;
    float: left;
}

/*.main_content:after, .half-page:after {
    content: "";
    display: table;
    clear: both;
}*/

#work_with_book {
    height: 500px;
    padding: 5px;
    margin: 10px;
    background-color: darkcyan;
}

#ReadingArea {
    overflow-y: scroll;
    height: 1000px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    line-height: 2;
}

p {
    text-indent: 10px;
}

#forma {
    padding: 5px;
    background-color: wheat;
}

.ChangePage {
    display: inline-block;
}

#pageNumber {
    margin-left: 40px;
}

.StudiedWord {
    background-color: lightcoral;
}

.KnownWord {
    background-color: white;
}

.UnknownWord {
    background-color: lightblue;
}

#boxForPageNumber {
    width: 60px;
    text-align: center;
}

.container {
    box-sizing: content-box;
}
