﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    margin: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url('../Images/LoginBackground.jpg');
    background-position: center;
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: white;
}

.LoginForm {
    background-color: white;
    padding-left: 10px;
    padding: 5px;
    margin: 10px;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: thin;

    position: absolute;
    top: 30%;
    left: 25%;
}

label {
    margin: 5px;
}

select {
    margin: 5px;
}

input {
    border-radius: 5px;
    margin: 5px;
}

#send_reg {
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    width: 150px;
    margin-left: 50px;
}

button {
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    width: 150px;
}

#send_login {
    margin: 10px;
    margin-left: 50px;
}


.main_content {
    box-sizing: content-box;
    background-color: white;
}

.half-page {
    width: 50%;
    float: left;
}

#work_with_book {
    height: 500px;
    padding: 5px;
    margin: 10px;
    background-color: darkcyan;
}

#ReadingArea {
    overflow-y: scroll;
    height: 1000px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    line-height: 2;
    /*получается 25 строк*/
}

p {
    text-indent: 10px; 
}

#forma {
    padding: 5px;
    background-color: wheat;
}

.StudiedWord {
    background-color: lightcoral;
}

.KnownWord {
    background-color: white;
}

.UnknownWord {
    background-color: lightblue;
}