﻿@page
@model LangRead.Pages.MainPageModel
@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ver. @Model.Version</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MainCss.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Login">LangRead</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Registration">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main_content">
        <div class="half-page">
            <div class="ChangePage">
                <div class="ChangePage">
                    <form asp-page-handler="PreviousPage" method="post">
                        <button>Предыдущая</button>
                    </form>
                </div>
                <div class="ChangePage">
                    <form asp-page-handler="NextPage" method="post">
                        <button>Следующая</button>
                    </form>
                </div>
                <div class="ChangePage" id="pageNumber">
                    <form action="" method="POST">
                        <input id="boxForPageNumber" type="text" name="PageNumber" value="@Model.CurrentPage">
                        <label> / @Model.HowManyPages</label>
                        <input id="sendPageNumber" type="submit" asp-page-handler="MoveToPageNumber" value="Перейти">
                    </form>
                </div>
            </div>
            <div id="ReadingArea" asp-page-handler="ReadFile">
                @foreach (var word in Model.TextOnPage)
                {
                    if (word.Contains("\n"))
                    {
                        for (var i = 0; i < Model.MakeNewLine(word).Length; i++)
                        {
                            if (Model.CheckStudiedWord(Model.MakeNewLine(word)[i].ToString()))
                            {
                                if (i == 0)
                                {
                                    <span class="StudiedWord">@Model.MakeNewLine(word)[i]<br /></span>
                                }
                                else
                                {
                                    <span class="StudiedWord">@Model.MakeNewLine(word)[i]</span>
                                }
                            }
                            else if (Model.CheckKnownWord(Model.MakeNewLine(word)[i].ToString()))
                            {
                                if (i == 0)
                                {
                                    <span class="KnownWord">@Model.MakeNewLine(word)[i]<br /></span>
                                }
                                else
                                {
                                    <span class="KnownWord">@Model.MakeNewLine(word)[i]</span>
                                }
                            }
                            else
                            {
                                if (i == 0)
                                {
                                    <span class="UnknownWord">@Model.MakeNewLine(word)[i]<br /></span>
                                }
                                else
                                {
                                    <span class="UnknownWord">@Model.MakeNewLine(word)[i]</span>
                                }
                            }
                        }
                    }
                    else
                    {
                        if (Model.CheckStudiedWord(word))
                        {
                            <span class="StudiedWord">@word</span>
                        }
                        else if (Model.CheckKnownWord(word))
                        {
                            <span class="KnownWord">@word</span>
                        }
                        else
                        {
                            <span class="UnknownWord">@word</span>
                        }
                    }

                }
            </div>
        </div>
        <div class="half-page">
            <div id="work_with_book">
                <form method="post" enctype="multipart/form-data">
                    <input type="file" asp-for="Upload" />
                    <input type="submit" asp-page-handler="OpenBook" value="Открыть книгу">
                </form>
                <div id="forma">
                    <form action="" method="POST">
                        <label>Изменить статус слова:</label><br>
                        <input id="word" type="text" placeholder="Введите слово" name="Word"><br>
                        <input id="sendWord" type="submit" asp-page-handler="AddOrRemoveWord" value="Изменить">
                    </form>
                    <br />
                    <form action="" method="POST">
                        <label>@Model.TranslatedWord</label><br>
                        <input id="wordTranslate" type="text" placeholder="Введите слово" name="Word"><br>
                        <input id="sendWordTranslate" type="submit" asp-page-handler="TranslateWord" value="Перевести">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LangRead - <a asp-area="" asp-page="/Privacy">О приложении</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>