﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "О приложении";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ver. @Model.Version</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MainCss.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Login">LangRead</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Registration">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1>@ViewData["Title"]</h1>

    <p>Приветствую в приложении LangRead</p>
    <p>Это приложение основано на методике изучения иностранного языка через чтение. Приложение будет составлять базу из известных вам и ещё пока незнакомых слов.</p>
    <br />
    <p>Что означают цвета?</p>
    <p><span class="UnknownWord">Hello</span> - при чтении вы встретили это слово впервые (вы уже можете знать его, либо нет) </p>
    <p><span class="StudiedWord">Hello</span> - слово находится в процессе изучения</p>
    <p><span class="KnownWord">Hello</span> - уже известное вам слово</p>
    <br />
    <p>Как это всё работает?</p>
    <p>
        Слова, которые вам незнакомы следует отмечать (нажав на слово один раз) <span class="StudiedWord">этим цветом</span>, далее при переходе на следующую страницу все слова оставшиеся <span class="UnknownWord">"незнакомыми"</span> автоматически переходят в разряд <span class="KnownWord">известных (для всего оставшегося текста и для последующих книг).</span>
        <br />Тем самым мозг не будет "отвлекаться" на известные слова и состредоточится на запоминании новых слов. С каждой прочитанной книгой база слов будет расти.
    </p>
    <p>Двойное нажатие на слово, покажет вам его приблизительный перевод. Если вы захотите превести предложение целиком, то его следует вставить в специальное окошко для текста справа ("Что хотите превести?")</p>
    <br />
    <p>Работает только с txt форматом!!!</p>
    <br />
    <p>Ожидайте обновлений!)</p>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LangRead - <a asp-area="" asp-page="/Privacy">О приложении</a>
        </div>
    </footer>
</body>
</html>