﻿@page
@model LangRead.Pages.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ver. @Model.Version</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Login">LangRead</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Registration">Registration</a>
                        </li>
                    </ul>
                    <div align="left">Обязательно прочтите "О приложении" - ссылка внизу!</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="LoginForm">
        <form action="" method="POST">
            <label id="Name2" name="Login">@Model.Message</label><br>
            <input type="text" placeholder="Ваше имя" name="login"><br>
            <span id="Name3">
                <label name="ConfirmLogin">Подтвердите имя:</label><br>
                <input type="text" placeholder="Ваше имя" name="confirmLogin"><br>
            </span>
            <input id="send_reg" type="submit">
        </form>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - LangRead - <a asp-area="" asp-page="/Privacy">О приложении</a>
        </div>
    </footer>
</body>
</html>
